html {
  scroll-behavior: auto;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: "Neue Montreal", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  cursor: none;
}

#noise-canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9000;
  opacity: 0.13;
}

.sr {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 900px) {
  body {
    cursor: auto;
  }

  a,
  button {
    cursor: auto !important;
  }

  #cur,
  #cur-ring {
    display: none !important;
  }
}
